@import './assets/fonts/grotesk.css';

#root {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "roc-grotesk-condensed", sans-serif;
}

html {
    scroll-behavior: smooth;
}

